.hero {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.hero.loaded {
  height: auto;
  visibility: visible;
  opacity: 1;
}
.hero ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.hero ul li {
  padding: 0;
  margin: 0;
  float: left;
}
.hero ul li img.responsive {
  width: 100%;
  height: auto;
}
.hero .hero-carousel-nav a {
  z-index: 50;
  background: rgba(0, 0, 0, 0.55);
  transition: background 150ms ease-in-out;
}
.hero .hero-carousel-nav a:hover {
  background: rgba(0, 0, 0, 0.7);
}
.hero .hero-carousel-nav a.prev:before {
  content: ' ';
  background: url('images/arrow.png');
  width: 23px;
  height: 44px;
  position: absolute;
  top: 50%;
  margin-top: -11.5px;
  background-position: left top;
  right: 10%;
}
.hero .hero-carousel-nav a.next:before {
  content: ' ';
  background: url('images/arrow.png');
  width: 23px;
  height: 44px;
  position: absolute;
  top: 50%;
  margin-top: -11.5px;
  right: 10%;
  background-position: left bottom;
  left: 10%;
}
