.hero {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 0; // you should overwrite it with expected height
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;

	&.loaded {
		height: auto;
		visibility: visible;
		opacity: 1;
	}

	ul {
		padding: 0;
		margin: 0;
		list-style: none;

		li {
			padding: 0;
			margin: 0;
			float: left;

			img.responsive	 {
				width: 100%;
				height: auto;
			}

//			for Bootstrap v3:
//
//			width: @screen-xs-max;
//
//			@media @sm {
//				width: @screen-sm-min;
//			}
//
//			@media @md {
//				width: @screen-md-min;
//			}
//
//			@media @lg {
//				width: @screen-lg-min;
//			}
		}
	}

	.hero-carousel-nav {
		a {
			z-index: 50;
			background: rgba(0, 0, 0, .55);
			transition: background 150ms ease-in-out;

			&:hover {
				background: rgba(0, 0, 0, .7);
			}

			.icon() {
				content: ' ';
				background: url('./images/arrow.png');
				width: 23px;
				height: 44px;
				position: absolute;
				top: 50%;
				margin-top: -23px / 2;
				right: 10%;
			}

			&.prev:before {
				.icon;
				background-position: left top;
				right: 10%;
			}

			&.next:before {
				.icon;
				background-position: left bottom;
				left: 10%;
			}
		}
	}
}
